<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YB Blog </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
       <style>
        .navbar-nav li {
            margin-right: 60px; 
        }
        body{
            background-color: rgb(191, 212, 205);
        }
        h3{
            margin-top: -20px;
           
            font-size: 40px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .container{
            padding: 20px;
        }
        .names{
       
            font-size: 30px;
            font-weight: bolder;
        }
        .container li{
            font-family: 'Times New Roman', Times, serif;
            font-weight: bolder;
        }
       </style>
</head>

<body>